body {
    padding: 0;
    margin: 0;
}

header {
    border-bottom: 1px solid #eee;
    height: 6.5rem;
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    margin-bottom: 0;
    position: relative;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

small {
    font-size: 6px;
    opacity: .2;
}

code {
    word-break: break-word;
}

@media (max-width: 400px) {
    header {
        display: none;
    }
}