<div class="container">
    <div>
        <simple-dnd></simple-dnd>
        <zone-dnd></zone-dnd>
        <custom-data-dnd></custom-data-dnd>
        <custom-function-dnd></custom-function-dnd>
        <shoping-basket-dnd></shoping-basket-dnd>
        
        <simple-sortable></simple-sortable>
        <recycle-multi-sortable></recycle-multi-sortable>
        <simple-sortable-copy></simple-sortable-copy>
        <simple-sortable-copy-drag></simple-sortable-copy-drag>
        <multi-sortable></multi-sortable>
        <embedded-sortable></embedded-sortable>
    </div>
</div>